[submodule "external/sqlalchemy"]
	path = external/sqlalchemy
	url = https://github.com/zzzeek/sqlalchemy.git
[submodule "external/schematics"]
	path = external/schematics
	url = https://github.com/schematics/schematics.git
